*{
    padding: 0;
    margin: 0;
}

nav{
    margin: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 42px;
}

body{
    background-image: linear-gradient(rgb(255,255,255), rgb(53, 5, 53));
    height: 100vh;
}

.container{
    background-color: white;
    border: 2px solid black;
    width: 70vw;
    height: 80vh;
    margin: auto;
    overflow-y: auto;
    margin-bottom: 10px;
}
.middle{
    font-style: italic;
    display: block;
    text-align: center;
    clear: both;
}

.left{
    margin: 10px;
    float: left;
    clear: both;
}

.name{
    margin:0px 0px 2px 6px;
    font-size: 14px;
}

.message-left{
    padding: 10px;
    background-color: rgb(132 171 234);
    width: auto;
    border-radius: 4px;

}

.right{
    margin: 10px;
    float: right;
    clear: both;
}

.message-right{
    background-color: rgb(228, 97, 97);
    padding: 10px;
    width: auto;
    border-radius: 4px;
}

#sendMessage{
    text-align: center;
    width: 70vw;
    display: block;
    margin: auto;
}

#messageInp{
    border: 2px solid black;
    padding: 2px;
    width: 89%;
}

.btn{
    padding: 2px;
    cursor: pointer;
    border: 2px solid black;

}
